.close-list{
    height: 2.5rem;
    width: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: var(--background-color);

    cursor: pointer;
}

.close-list:hover{
    background-color: gray;
}