.input_div {
    left: 30vw;

    height: 20vh;

    bottom: 0;

    position: fixed;
    width: inherit;

    background-color: var(--background-second-color);
    
}

.inlineChat {
    display: inline-block;
    margin-right: 10px;
}

#chat-input{
    all: initial;

    color: var(--text-color);
    background-color: var(--background-color);

    padding: 20px;

    width: 50vw;
    height: 30px;
    border-radius: 10px;
}
