.input_div {
    left: 30vw;

    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--background-second-color);
    
}

.inlineChat {
    display: inline-block;
    margin-right: 10px;
}

#chat-input{
    all: initial;

    color: var(--text-color);
    background-color: var(--background-color);

    padding: 20px;

    width: 75%;
    height: 30px;
    border-radius: 10px;

    padding-bottom: 5vh;
}
