/* Generic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Left side styles */
.left-side {
    position: fixed;
    left: 0;
    color: white;
    background-color: black;
    height: 100vh;
    width: 20vw;
}

/* Main styles */
main {
    padding-left: 20vw;
    /* width: 80vw; */
}


.conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: 30px;

    margin-bottom: 25vh;
}

.input_div {
    position: fixed;
    bottom: 0;
    width: 80vw;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: white;
    height: 20vh;
}

input {
    width: 50vw;
    height: 30px;
    border-radius: 10px;
}

.owner{
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;

    width: 45vw;
}

.div_circle {
    margin-right: 8px;

    width: 24px;
    height: 24px;
    border-radius: 50%;


}
.div_you{
    background-color: red;
}

.div_chatbot{
    background-color: blue;
}

.div_text {

    margin: 0 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    width: 45vw;

}
.typing_0{
    width: 24px;
    height: 24px;

    transition: background-color 500ms;
    background-color: red;
}

.typing_1{
    width: 24px;
    height: 24px;

    
    transition: background-color 500ms;
    background-color: blue;
}