/* Generic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Left side styles */
.left-side {
    position: fixed;
    left: 0;
    color: white;
    background-color: black;
    height: 100vh;
    width: 20vw;
}

/* Main styles */
main {
    padding-left: 20vw;
    /* width: 80vw; */
}


.conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: 30px;

    margin-bottom: 25vh;
}

.input_div {
    position: fixed;
    bottom: 0;
    width: 80vw;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: white;
    height: 20vh;
}

input {
    width: 50vw;
    height: 30px;
    border-radius: 10px;
}


/* Conversation item styles */
.conversation_item {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 45vw;


    border: 10px solid black;
}

/* .bot {
    background-color: rgb(183, 245, 245);
}

.user {
    background-color: rgb(255, 174, 174);
} */