
/* Generic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none; /* Firefox */
}

.content{
    display: flex;
    justify-content: space-between;

    align-items: left;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

}

.no-transition {
    transition: none !important;
    /* transform: all 0.25s ease 0.25s !important; */
}

img{
    max-width: 1.25rem;
    max-height: 1.25rem;
}

.overlay{
    position: fixed;
    top: 0;
    left: 40vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.active{
    display: block;
}

@media (min-width: 600px) {
    .overlay.active{
        display: none !important;
    }
}

#toggleWhenSmall{
    display: none;
}
#toggleWhenLarge{
    display: block;
}

.div-list-of-conversations.when-large-hidden {
    display: none !important;
}

@media (max-width: 600px) {

    .div-list-of-conversations {
        display: none !important;
    }

    .div-list-of-conversations.when-small-hidden {
        display: block !important;
    }

    

    main {
        width: 100vw;
        padding: 0;
    }


    /* #toggleWhenSmall{
        display: block;
    }
    #toggleWhenLarge{
        display: none;
    }
    
    #testToggle{
        width: 10vh;
        height: 10vh;
        background-color: blue;
    } */
}
