#left-side {
    height: 100%;

    display: flex;
    flex-direction: row;

    overflow-y: scroll;
    
    color: var(--text-color);
}

.dark-mode #left-side {
    background-color: var(--background-second-color);
}

.div-list-of-conversations{
    width: 20vw;
    
    background-color: var(--background-color);
}


.pop-conversation-dropdown{
    width: 20vw;
    height: 10vh;
    
    background-color: var(--background-color);
}

