#left-side {
    display: flex;
    flex-direction: row;

    overflow-y: scroll;
    height: 100vh;


    
    color: var(--text-color);
}
.left-side-content{
    width: 100%;
}

.dark-mode #left-side {
    background-color: var(--background-second-color);
}

.div-list-of-conversations{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    /* width: 20vw; */

    background-color: var(--background-color);
}
.dropdown-menu{
    height: 100%;
    width: 100%;
    
}

.pop-conversation-dropdown{
    width: 20vw;
    height: 10vh;
    
    background-color: var(--background-color);
}

