#open-left-side{
    width: 20vw;

    background-color: var(--background-color);
    display: none;

    flex-direction: row;
    
    
    transition: width 0.1s;
    z-index: 1000;
    
}

@media (max-width: 600px) {
    #open-left-side{
        display: flex;
    }

}

.test-list{

    display: flex;
    flex-direction: column;
    justify-content: left;
    transition: width 0.1s;
    


}


.test-button{
    width: 10vw;
    height: 10vh;
}