.new-chat{

    height: 2.5rem;
    width: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: black;

    cursor: pointer;


}

.new-chat.when-small-hidden{
    display: flex;
    background-color: black;
}

@media (max-width: 600px) {
    .new-chat{
        display: none;
    }
    
}