.new-chat{
    display: flex;
    justify-content: space-between;

    height: 2.5rem;
    width: 2.5rem;

    background-color: black;

    display: flex;
    align-items: center;

    font-size: .875rem;
    line-height: 1.25rem;

    border-radius: .5rem;
    padding: .5rem;

    /* top | right | bottom | left */
    margin: 0 .5rem 0 .5rem;

    cursor: pointer;

    position: relative

}