
#dark-mode-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    right: 10vw;
    bottom: 10vh;

    position: absolute;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 50%; /* Add this line to make it a circle */
}
