
.dark-mode-button {

    right: 10vw;
    bottom: 10vh;

    /* position: absolute; */
}


.dark-mode-button button{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

}


.dark-mode-button img{
    display: block;
    max-width: 100%;
    height: auto;

}
